<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ApiUrl" value="https://api.jiandanmao.cn/api" />
    <add key="OrderUrl" value="http://ws.jiandanmao.cn/api/notify/getorders/{0}" />
    <add key="BackStageWebSite" value="http://e.jiandanmao.cn" />
  </appSettings>
</configuration>